.outerPortfolio{
    display: flex;
    flex-direction: column;
    padding: 149.333px 85.333px;
    gap: 106.67px;
}
.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ultext{
    display: flex;
    flex-direction: column;
    gap: 21.33px;
}
.ul1{
    font-size: 16px;
    font-weight: 600;
}
.ul2{
    font-size: 48px;
    font-weight: 700;
}

.visit{
    border: none;
    border-radius: 10.667px;
    padding: 13.333px 21.333px;
    display: flex;
    align-items: center;
    background-color: #E62872;
    color: white;
}
.lower{
    display: flex;
    gap: 42.67px;
}
.images{
    height: 304px;
    border-radius: 8px;
}
.pfcontent{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.pfcards{
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
}
.uppercon{
    display: flex;
    flex-direction: column;
    gap: 10.667px;
}
.lowercon{
    padding-bottom: 10.67px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1.333px solid var(--Primary, #5E3BEE);;
}