.outercontact {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 149.333px 85.333px;
    justify-content: center;
}

.contentsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21.333px;
}

.uppercontent {
    color: #282938;
    text-align: center;
    font-size: 21.333px;
    font-weight: 600;
}

.lowercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.lower1 {
    color: #282938;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
}

.lower2 {
    color: #1C1E53;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.formm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    width: 900px;

}

.outerform {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formrow {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.gapp {
    gap: 32px;
}

.formcolumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.667px;
}

.selecttopic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.667px;

}

.inp {
    padding: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1.333px solid var(--Primary, #5E3BEE);
    background: var(--White, #FFF);
    height: 4px;
    width: 400px;

}

select {
    width: 900px;
    padding: 16px;
    border-radius: 4px;
    border: 1.333px solid var(--Primary, #5E3BEE);
    background: var(--White, #FFF);

}

.message {
    width: 864px;
    padding: 16px;
    border-radius: 4px;
    border: 1.333px solid var(--Primary, #5E3BEE);
    background: var(--White, #FFF);
    height: 240px;
    position: relative;
}

.check {
    display: flex;
    align-items: center;
    gap: 10.667px;
}

.sbtbtn {
    display: flex;
    width: 170.667px;
    padding: 18.667px 42.667px;
    justify-content: center;
    align-items: center;
    gap: 10.667px;
    border-radius: 8px;
    background: var(--Primary, #5E3BEE);
    border: none;
    color: white;
}