.navbar {
    padding: 0px 85.33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-weight: 400;
    height: 120px;
    box-shadow: 0px 5.33333px 80px 0px rgba(0, 0, 0, 0.10);
}

.logo {
    height: 40px;
    width: 186.667px;
}

.nav {
    display: flex;
    gap: 42.667px;
}

.link {
    color: #1C1E53;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: #5E3BEE;
}
.buttons{
    display: flex;
    gap: 10.667px;
}
.contactButton {
    text-decoration: none;
    display: flex;
    width: 82.667px;
    padding: 18.667px 42.667px;
    justify-content: center;
    align-items: center;
    gap: 10.667px;
    border-radius: 5.333px;
    border: 1.333px solid var(--Primary, #5E3BEE);
    color: #5E3BEE;
}

.contactButton:hover {
    background-color: #5E3BEE;
    color: white;
}